<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ test_name }} - Неотвеченные вопросы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Неотвеченные вопросы</h1>
    <ul>
        {% for question_id in unanswered_questions %}
            <li>
                <a href="{{ url_for('question', test_name=test_name, question_id=question_id) }}">Вопрос {{ question_id }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Вернуться к списку тестов</a>
</body>
</html>
